header {
    text-align: center;
    
}

.imgs {
    display:flex;
    justify-content: space-evenly;
}

main h3 {
    text-align:center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.playerButtons button{
    border-radius: 20px;
    padding: 20px 40px ;
    background-color: red;
    color: white;
    font-size: 20px;
    box-shadow: inset 10px 5px 5px darkred;
}

.CPUButtons button{
    border-radius: 20px;
    padding: 20px 40px ;
    background-color: green;
    color: white;
    font-size: 20px;
    box-shadow: inset 10px 5px 5px darkgreen;
}

footer {
    text-align: center;
}